/* header */

header img{
	width: 120px;
}
header{
	padding: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {

  width: 100%;
border: none;
  overflow: hidden;
  background: rgb(255,255,255);
  /*background-color: LavenderBlush; */
  height: 100px;
}
.navbar a {
  margin-left: 20px;
  margin-top: 17px;
    text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
color: palevioletred;
font-size: 20px;
}
.navbar ul a:hover {
  background-color: #DB7093; 
  color:white;
  border-radius: 20px; 
  padding: 5px;
} 
.navbar ul{
	float: right;
	position: relative;
	padding-right: 60px;

	padding-top: 30px;

}
@media(min-width: 449px){
header{
	 height: 100px;
	}
	
}
@media (max-width: 450px) {
	.navbar{
		height: auto;
	}
.navbar a{
	float: none;
		width: 100%;
		display: block;
    text-align: center;
    position: relative;
    right : 15px;
	}
	.navbar a img{
		align-content: center;
	}
	.header ul a{
    position: relative;
   
	right:15%;
    float: none;
    display: block;
    text-align: center;
    padding-bottom: 10px;

  }
 .navbar-header{
 	height: 84px;
 }

}

/*header end*/





/* foooter*/

.panel-footer{
	background: rgba(219, 112, 147, 0.8);
	
	color: white;
	opacity: 0.7;
	font-size: 14px;
	margin-top: 0px;
}


#social i{
	color: white;
	padding-right: 15px;
	font-size: 18px;
	padding-top: 10px;
}
#social a{
color: white;
font-size: 20px;
font-family: 'Itim', cursive;
}
#love i{
	color: red;
	
}

#company {
	position: relative;
	left: 20px;
	padding-top: 22px;

}
#company p{
font-family: 'Itim', cursive;
	padding-left: 20px;
	font-size: 15px;
}
#company img{
  height: 150px;
}
span{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Fredoka One', cursive;
color: white;
text-decoration: underline;

}
#content{
   padding-top: 40px;
   color: white;
   padding-left: 50px;

}
#social{
padding-top: 40px;
padding-left: 50px;
}
#info{
padding-top: 40px;
padding-left: 30px;
font-family: 'Itim', cursive;
}
#content a{
	color:white;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Itim', cursive;

	}
	
#info i, #content i{
	color:white;
	font-weight: bold;
	font-size: 20px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;


}
/* foot end */




/* slider */
#slider{
	overflow: hidden;
	position: relative;
bottom: 20px;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

#slider figure img{
	width: 20%;
	float: left;
}
@keyframes slider {
	0% {
		left: 0;
	}
	20%{
		left:0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
/* slider end */


.passage{
	background-image: url('images1/back6.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	bottom: 20px;
	padding-top: 20px;

}
.first{
	
	padding-top: 80px;
	padding-bottom: 80px;
	
	/*background-image: url('back8.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
}

.first h2{
	padding-left: 50px;
	/*width: 50%; */
	float: left;
	text-align: center;
	color: palevioletred;
	font-weight: bold;
	font-size: 50px;
}
.first p{
	padding-left: 20px;
	/*width: 50%; */
	float: right;
	font-size: 17px;
	color: dimgrey;

}
.second{
padding-top: 80px;
	padding-bottom: 80px;
	
	/*background-image: url('back6.jpg');  */
	background-repeat: no-repeat;
	background-size: cover;
}
.second p{

	/*width: 50%; */
	float: left;
	
	color: dimgrey;
	
	font-size: 17px;
}
.second h1{
	font-size: 50px;
	color: palevioletred;
	font-weight: bold;
}
.second h2{
	padding-left: 20px;
	/*width: 50%; */
	float: right;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: black;
}
h2 img{
	width: 70%;
	height: 300px;
}

.third{
	
	padding-top: 70px;
	padding-bottom: 80px;
	
	/*background-image: url('back2.jpg'); */
	background-repeat: no-repeat;
	background-size: cover;
}

.third p{
	font-size: 17px;
	color: dimgrey;
}
.third h2{
	color: palevioletred;
	font-weight: bold;
	font-size: 50px;

}


.home{
	background: #F5F5F5;
	

}




/*news*/
.news{
	color: black;
background-image: url('images1/back14.jpg');
padding-bottom: 20px;
padding-top: 25px;
background-repeat: no-repeat;
	background-size: cover;


}
.news h1{
	color: rgb(7,60,40);
	font-weight: bold;

}
.news h1 img{
	width: 90px;
	padding-left: 12px;
	padding-right: 12px;

}

#founder p, #placement p, #usa p{
	font-size: 12px;
	padding:10px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center; 
	height: auto;
	max-width: 100%;
	position: relative;
	bottom: 20px;
	color:white;
	font-weight: bold;


}

#founder p a, #placement p a, #usa p a{
	color: white;
	text-decoration: underline;
}

#founder img, #placement img, #usa img{
	max-height: 100%;
  max-width: 100%;
}

/* news end */



iframe{
	width: 50%;
	height: 450px;
	text-align: center;
}
h3{
	font-weight: bold;
	color: slateblue;
	font-size: 40px;
	font-family: 'Itim', cursive;
}
h3 i{
	padding: 8px;
	color: darkgoldenrod;
}

hr{
	height: 1px;
	width: 45%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}









/*

#back{
	
	color: white;
	margin-bottom: 0;
	padding-left: 9px;
	position: relative;
	bottom: 40px;
}
#back img{
width: 30%;
	height: 110px;
	float: right;

}
#back h2 .hello{
	font-size: 20px;
	font-family: 'Piedra', cursive;
}
#back h2 .han{
	font-size: 20px;
	font-family: 'Piedra', cursive;
}
#back h1{
	font-family: 'Metal Mania', cursive;
}
#back h2{
	font-family: 'Piedra', cursive;

} */

body{
	background: url(https://image.freepik.com/free-photo/dark-blue-plain-wall-background_53876-92976.jpg);
}


